<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="app">

  <form class="row domain-search my-5" v-on:submit.prevent="searchBooking">
  <div class="container">
    <div class="row">
      <div class="col-md-3 px-5 mt-0 pt-0">
        <h1 class="form-title text-dark">Find Your <strong>Reservation</strong></h1>
      </div>
      <div class="col-md-9 mt-3">
        <div class="input-group">
          <input v-model="searchBookingId" type="search" class="form-control" placeholder="Find/Update your booking">
          <span class="input-group-addon">
            <button type="submit" class="btn btn-primary">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</form>


    <form class="booking-form px-5">                 
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input v-model="bookingForm.checkIn" class="form-control" type="date" id="StartTime" name="StartTime" required>
            <span class="form-label">Check In</span>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input v-model="bookingForm.checkOut" class="form-control" type="date" id="EndTime" name="EndTime" required>
            <span class="form-label">Check out</span>
          </div>
        </div>
        <div class="col">
          <div class="form-btn">
            <button class="submit-btn-btn" v-on:click="bookAllAvailableRooms()">
              Book ALL Rooms
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="container">
      <div class="row" v-for="room in rooms" :key="room.Id">
        <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center my-2">
          <div class="d-flex align-items-center justify-content-center">
            <img class="img-fluid images" :src="room.Images"></img>
          </div>
        </div>
       
          <div class="col-12 col-sm-6 my-2 d-flex align-items-center justify-content-center">
            <div class="m-5 details_col d-flex align-items-center justify-content-center ">
              <div class="row">
                <div class="col-12 text-center">
                  <div class="h1" v-text="room.Name"></div>
                  <div class="pb-3 pt-4" v-text="`${room.Size} ruutmeetrit`"></div>
                  <div v-text="room.Description"></div>
                  <button type="button" class="btn btn btn-dark p-3 mt-5 mx-2" data-bs-toggle="modal" data-bs-target="#roomInfoModal" v-on:click="getRoom(room.Id)">
                    Explore Room
                  </button>
                <button type="button frm-btn" class="btn btn btn-outline-secondary p-3 mt-5 mx-2" v-on:click="openBookingModal(room.Id)">
                    Book This Room
                </button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- Book alla rooms modal -->
    <div class="modal fade" id="bookAllModal" tabindex="-1" aria-labelledby="bookAllModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content text-center">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5 class="modal-title mb-4" id="bookAllModalLabel">Available Rooms</h5>
              <div v-if="availableRooms.length === 0">
                No available rooms
              </div>
            
              <div v-else>
                <!-- <div v-for="room in availableRooms" :key="room.Id"> -->
                  <li v-for="room in availableRooms" :key="room.Id">
                    {{ room.Name }}
                    {{ room.Size }}
                    {{ room.Description }}
                    {{ room.Price }}
                    </li>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" @click="confirmBookAllRooms">Book All Rooms</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>

<!-- roominfomodal -->
      <div id="roomInfoModal" class=" modal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content text-center">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                  <img class="img-fluid modal_pic" :src="roomInModal.Images"></img>
                  <div class="h1 mx-5 mt-5 mb-3" v-text="roomInModal.Name"></div>
                  <div class="pb-3" v-text="`${roomInModal.Size} ruutmeetrit`"></div>
                  <div class="mx-5 px-5" v-text="roomInModal.Description"></div>
                  <div class="pb-3 pt-4" v-text="`${roomInModal.Price} EUR öö kahele`"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- bookingModal -->
      <div id="bookingModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen-xxl-down modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5">
                <div id="booking" class="section my-3">
                    <div class="section-center">
                      <div class="container">
                        <div class="row">
                          <div class="booking-form">
                            <div class="form-header">
                              <h1>Make your reservation</h1>
                            </div>
                            <div class="text-center">
                              <span class="h2 text-white text-center" v-text="bookingInModal.roomName"></span>
                            </div>
                           
                            <form @submit.prevent="submitBookingForm">                   
                              <div class="row mt-5">
                                <div class="col-md-6">
                                  <input type="hidden" v-model="bookingForm.roomID">
                                  <div class="form-group">
                                    <input v-model="bookingForm.checkIn" class="form-control" type="date" required>
                                    <span class="form-label">Check In</span>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <input v-model="bookingForm.checkOut" class="form-control" type="date" required>
                                    <span class="form-label">Check out</span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <input v-model="bookingForm.name" class="form-control" type="text" placeholder="Enter your name" required>
                                    <span class="form-label">Name</span>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <input v-model="bookingForm.birthDate" class="form-control" type="date" placeholder="Enter your Date of Birth" required>
                                    <span class="form-label">BirthDate</span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <input v-model="bookingForm.email" class="form-control" type="email" placeholder="Enter your Email" required>
                                    <span class="form-label">Email</span>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <input v-model="bookingForm.telephone" class="form-control" type="tel" placeholder="Enter your Phone" required>
                                    <span class="form-label">Phone</span>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <input v-model="bookingForm.address" class="form-control" type="text" placeholder="Add your address" required>
                                <span class="form-label">Address</span>
                              </div>
                              <div class="form-btn">
                                <button class="submit-btn">Book Now</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
            <div class="modal-footer mt-5">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
    
  <script src="https://unpkg.com/vue@3.3.11/dist/vue.global.js"></script>

  <script src="rest-client.js"></script>
</body>

</html>
